@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');

$text-color: #555;

$primary: #20bdff;
$secondly: #3efe8e;

$pc: 1024px;
$tab: 768px;

$navbar-height: 5rem;

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($tab)) {
    @content;
  }
}

html,body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $text-color;
  line-height: 1.5rem;
}

p {
  margin: 1rem 0;
}

@mixin container {
  padding: 1rem;
  margin: 0 auto;
  @include pc {
    width: $pc;
  }
  @include tab {
    width: $tab;
  }
  @include sp {
    width: 100%;
  }
}

.button {
  display: inline-block;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  background: white;
  filter: drop-shadow(0 4px 8px rgba(0,0,0,.1));
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    transform: translateY(4px);
  }
  &.primary {
    color: $primary;
  }
  &.secondly {
    color: $secondly;
  }
}

.document-root {
  max-width: 1024px;
  @media (max-width: 1724px) {
    margin-left: 350px;
  }
  @media (min-width: 1725px) {
    margin:0 auto;
  }
  @include tab {
    margin:0 auto;
    width: $tab;
  }
  @include sp {
    width: initial;
    padding: 1rem;
  }
  padding: 3rem 1rem;
}

.title {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  @include sp {
    flex-direction: column;
  }
  img {
    width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
  }
}
